* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f6f8;
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}
.popupbox {
    position: fixed;
    width: 50%;
    height: 50%;
    top: 42%;
    z-index: 999;
    background: #fff;
    padding: 13px;
    border: #f1f1f1 1px solid;
    left: 25%;
    display:none;
}
.popupbox.is-active{
  display: block;
}